<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'teacher' %}" method="GET">
        {% csrf_token %}
    <div style="text-align: center;margin-top: 20%;">
        <h2>Пароль</h2>
        <p>Введите пороль чтобы пройти регистрацию учителя</p>
        <input type="text" name="pas">
        <br>
        <button type="submit" style="padding: 5px; color: white;background-color: #0d6efd;border: none;border-radius: 15px;margin-top: 1%;">Отправить</button>
    </div>
    </form>
</body>
</html>